.card {
  border-radius: 10px;
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  &_img {
    filter: blur(0.6px);
    border-radius: 10px;
  }
  /* disable courser light
  &::before {
    background: radial-gradient(
      800px circle at var(--nouse-x) var(--nouse-y),
      rgba(0, 255, 0, 0.1) 0%,
      transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
  }
  &:hover::before {
    opacity: 1;
  }*/
}
