.card-container {
  border: 3px solid var(--Font-orange);
  box-shadow: inset 0 0 5px var(--base-orange), 0 0 10px var(--base-orange);
  border-radius: 50px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
