.card {
  border: 3px solid var(--Font-orange);
  box-shadow: inset 0 0 30px var(--base-redDark), 0 0 50px var(--base-redDark);
  border-radius: 50px;
  position: relative;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  &_img {
    border: 3px solid var(--Font-orange);
    box-shadow: inset 0 0 30px var(--base-redDark), 0 0 50px var(--base-redDark);
    border-radius: 20px;
  }
  /* disable courser light
  &::before {
    background: radial-gradient(
      800px circle at var(--nouse-x) var(--nouse-y),
      rgba(0, 255, 0, 0.1) 0%,
      transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
  }
  &:hover::before {
    opacity: 1;
  }*/
}
