:root {
  --colo--: #280000;
  --colo--: #bbbb33;
  --colo--: #6a8e1d;
  --colo--: #3b3a32;
  --colo--: #da6606;
  --colo--: #2e4d0f;
  --colo--: #ffff92;
  --colo--: #000000;
  --colo--: #5b991f;
  --colo--: #505050;

  --Background: #000000;
  --Background: #280000;
  --Background: #1f280f;

  --Font: #ff5701;
  --Font: #bd2a1e;
  --Font: #00a6bf;
  --Font: #8237ac;
  --Font: #00d200;
}
