:root {
  --base-redDark: #280000;
  --base-orange: #da6606;
  --base-yellowDark: #bbbb33;
  --base-yellowLight: #ffff92;
  --base-greenDark: #2e4d0f;
  --base-greenGray: #6a8e1d;
  --base-greenLight: #5b991f;
  --base-grayDark: #3b3a32;
  --base-grayLight: #505050;
  --base-black: #000000;
  --base-white: #ffff;

  --Background-black: #000000;
  --Background-red: #280000;
  --Background-green: #1f280f;

  --Font-orange: #ff5701;
  --Font-red: #bd2a1e;
  --Font-blue: #00a6bf;
  --Font-violet: #8237ac;
  --Font-green: #00d200;
  /*--nouse-x: 100px;
  --nouse-y: 100px;*/
}
