svg {
  border: 3px solid var(--Font-green);
  padding: 1px;
  box-shadow: inset 0 0 30px var(--base-greenDark),
    0 0 50px var(--base-greenDark);
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: var(--Font-green);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  &:hover {
    stroke: #7cff7c;
    border: 3px solid #7cff7c;
    box-shadow: inset 0 0 30px var(--Font-green), 0 0 50px var(--Font-green);
  }
}
.fa-solid {
  color: var(--Font-blue);
  text-shadow: 0 0 10px var(--Font-blue);
}
